name: continuous-integration
on: push

defaults:
  run:
    shell: pwsh

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch sources
        uses: actions/checkout@v6
      - name: Set up .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10
      - name: Install dependencies
        run: ./Invoke.ps1 Install
      - name: Run tests
        run: ./Invoke.ps1 Test
